.password-strength-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

p {
  margin-right: 20px;
}

.strength-container {
  display: flex;
  flex-direction: row;
}

input {
  padding: 5px;
  font-size: 16px;
  width: 20%;
}

.strength-indicator {
  display: flex;
  width: 150px;
  height: 10px;
  margin-top: 10px;
}

.strength-section {
  display: flex;
  margin-left: 20px;
  width: 20%;
}

.easy {
  background-color: red;
}

.medium {
  background-color: yellow;
}

.strong {
  background-color: green;
}